In [2]:
import pandas as pd

In [49]:
file_path = r"C:\Users\Staphon Smith\Downloads\Employee Turnover Dataset.csv"
df = pd.read_csv(file_path)

print(df.dtypes)

EmployeeNumber                    int64
Age                               int64
Tenure                            int64
Turnover                         object
HourlyRate                       object
HoursWeekly                       int64
CompensationType                 object
AnnualSalary                    float64
DrivingCommuterDistance           int64
JobRoleArea                      object
Gender                           object
MaritalStatus                    object
NumCompaniesPreviouslyWorked    float64
AnnualProfessionalDevHrs        float64
PaycheckMethod                   object
TextMessageOptIn                 object
dtype: object

In [50]:
#Looking for duplicated data
num_duplicates = df.duplicated().sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 99

In [51]:
#Listing the duplicate rows
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

       EmployeeNumber  Age  Tenure Turnover HourlyRate   HoursWeekly  \
10100               1   28       6      Yes     $24.37            40
10101               2   33       2      Yes     $24.37            40
10102               3   22       1       No     $22.52            40
10103               4   23       1       No     $22.52            40
10104               5   40       6       No     $88.77            40
...               ...  ...     ...      ...         ...          ...
10194              95   48      13      Yes     $85.40            40
10195              96   54      17       No     $85.40            40
10196              97   44       6       No     $71.90            40
10197              98   58      19       No     $71.90            40
10198              99   48      17      Yes     $71.33            40

      CompensationType  AnnualSalary  DrivingCommuterDistance  \
10100           Salary       50689.6                       89
10101           Salary       50689.6                       89
10102           Salary       46841.6                       35
10103           Salary       46841.6                       35
10104           Salary      284641.6                       12
...                ...           ...                      ...
10194           Salary      177632.0                       31
10195           Salary      177632.0                       31
10196           Salary      149552.0                       32
10197           Salary      149552.0                       32
10198           Salary      148075.2                       50

                  JobRoleArea                Gender MaritalStatus  \
10100                Research                Female       Married
10101                Research                Female       Married
10102  Information_Technology                Female        Single
10103  Information_Technology                Female        Single
10104                   Sales  Prefer Not to Answer        Single
...                       ...                   ...           ...
10194                Research                  Male        Single
10195                Research                  Male        Single
10196               Marketing                  Male       Married
10197               Marketing                  Male       Married
10198                   Sales  Prefer Not to Answer       Married

       NumCompaniesPreviouslyWorked  AnnualProfessionalDevHrs PaycheckMethod  \
10100                           3.0                       7.0     Mail Check
10101                           6.0                       7.0     Mail Check
10102                           1.0                       8.0   Mailed Check
10103                           3.0                       NaN   Mailed Check
10104                           7.0                       NaN     Mail Check
...                             ...                       ...            ...
10194                           7.0                       5.0     Mail Check
10195                           2.0                      25.0     Mail Check
10196                           6.0                       NaN     Mail Check
10197                           5.0                      23.0     Mail Check
10198                           8.0                       8.0     Mail Check

      TextMessageOptIn
10100              Yes
10101              Yes
10102              Yes
10103              Yes
10104              Yes
...                ...
10194              NaN
10195              Yes
10196              Yes
10197              Yes
10198              Yes

[99 rows x 16 columns]

In [52]:
#There are 99 duplicate rows that should be deleted

# Drop all duplicate rows
df_cleaned = df.drop_duplicates()

# Check the result to ensure duplicates were removed
print(df_cleaned)

       EmployeeNumber  Age  Tenure Turnover HourlyRate   HoursWeekly  \
0                   1   28       6      Yes     $24.37            40
1                   2   33       2      Yes     $24.37            40
2                   3   22       1       No     $22.52            40
3                   4   23       1       No     $22.52            40
4                   5   40       6       No     $88.77            40
...               ...  ...     ...      ...         ...          ...
10095           10096   50      15      Yes     $61.78            40
10096           10097   33       9      Yes     $23.28            40
10097           10098   31       9      Yes     $28.25            40
10098           10099   50      12       No     $32.22            40
10099           10100   59      14       No     $44.59            40

      CompensationType  AnnualSalary  DrivingCommuterDistance  \
0               Salary       50689.6                       89
1               Salary       50689.6                       89
2               Salary       46841.6                       35
3               Salary       46841.6                       35
4               Salary      284641.6                       12
...                ...           ...                      ...
10095           Salary      128502.4                        6
10096           Salary       48422.4                      -10
10097           Salary       37960.0                       68
10098           Salary       67017.6                      -13
10099           Salary       92747.2                       94

                  JobRoleArea                Gender MaritalStatus  \
0                    Research                Female       Married
1                    Research                Female       Married
2      Information_Technology                Female        Single
3      Information_Technology                Female        Single
4                       Sales  Prefer Not to Answer        Single
...                       ...                   ...           ...
10095              Laboratory                  Male      Divorced
10096               Marketing                  Male        Single
10097              Laboratory                  Male       Married
10098                Research                Female       Married
10099                Research                  Male       Married

       NumCompaniesPreviouslyWorked  AnnualProfessionalDevHrs  PaycheckMethod  \
0                               3.0                       7.0      Mail Check
1                               6.0                       7.0      Mail Check
2                               1.0                       8.0    Mailed Check
3                               3.0                       NaN    Mailed Check
4                               7.0                       NaN      Mail Check
...                             ...                       ...             ...
10095                           1.0                       8.0      Mail Check
10096                           1.0                      20.0  Direct_Deposit
10097                           2.0                      21.0   DirectDeposit
10098                           5.0                      20.0  Direct_Deposit
10099                           NaN                      10.0   DirectDeposit

      TextMessageOptIn
0                  Yes
1                  Yes
2                  Yes
3                  Yes
4                  Yes
...                ...
10095              Yes
10096              Yes
10097              NaN
10098              Yes
10099              NaN

[10100 rows x 16 columns]

In [53]:
#Checking again for duplicated data to ensure they were deleted
num_duplicates = df_cleaned.duplicated().sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

In [54]:
#Looking for missing data
print(df_cleaned.isnull().sum())

EmployeeNumber                     0
Age                                0
Tenure                             0
Turnover                           0
HourlyRate                         0
HoursWeekly                        0
CompensationType                   0
AnnualSalary                       0
DrivingCommuterDistance            0
JobRoleArea                        0
Gender                             0
MaritalStatus                      0
NumCompaniesPreviouslyWorked     663
AnnualProfessionalDevHrs        1947
PaycheckMethod                     0
TextMessageOptIn                2258
dtype: int64

In [55]:
# Fill missing values with 0 for numeric columns
df['NumCompaniesPreviouslyWorked'] = df['NumCompaniesPreviouslyWorked'].fillna(0)
df['AnnualProfessionalDevHrs'] = df['AnnualProfessionalDevHrs'].fillna(0)

# Fill missing values with 'No' for categorical column
df['TextMessageOptIn'] = df['TextMessageOptIn'].fillna('No')

# Confirm no missing values remain
print(df.isnull().sum())

EmployeeNumber                  0
Age                             0
Tenure                          0
Turnover                        0
HourlyRate                      0
HoursWeekly                     0
CompensationType                0
AnnualSalary                    0
DrivingCommuterDistance         0
JobRoleArea                     0
Gender                          0
MaritalStatus                   0
NumCompaniesPreviouslyWorked    0
AnnualProfessionalDevHrs        0
PaycheckMethod                  0
TextMessageOptIn                0
dtype: int64

In [56]:
# Check the number of rows before and after dropping missing values
print(f"Original DataFrame: {df.shape[0]} rows")
print(f"Cleaned DataFrame: {df_cleaned.shape[0]} rows")

Original DataFrame: 10199 rows
Cleaned DataFrame: 10100 rows

In [57]:
#Checking for inconsistent entries, formatting errors, out outliers starts here

In [58]:
#Making sure all values in EmployeeNumber are numeric

#First any entires that are non-numeric will be changed to NaN values. Then count how many NaN values there are to see if we caught any errors
non_numeric_entries_EN = df_cleaned[pd.to_numeric(df_cleaned['EmployeeNumber'], errors='coerce').isna()]
print(non_numeric_entries_EN)

Empty DataFrame
Columns: [EmployeeNumber, Age, Tenure, Turnover, HourlyRate , HoursWeekly, CompensationType, AnnualSalary, DrivingCommuterDistance, JobRoleArea, Gender, MaritalStatus, NumCompaniesPreviouslyWorked, AnnualProfessionalDevHrs, PaycheckMethod, TextMessageOptIn]
Index: []

In [59]:
#All EmployeeNumbers are numeric

In [60]:
# Check EmployeeNumber column for abnormalities
EmployeeNumber_counts = df_cleaned['EmployeeNumber'].value_counts()
print(EmployeeNumber_counts)

EmployeeNumber
1        1
6738     1
6731     1
6732     1
6733     1
        ..
3367     1
3368     1
3369     1
3370     1
10100    1
Name: count, Length: 10100, dtype: int64

In [61]:
#good to go

In [62]:
#Check Age column for abnormalities
Age_counts = df_cleaned['Age'].value_counts()
print(Age_counts)

Age
39    444
37    422
36    403
38    382
40    375
43    317
44    315
48    311
46    305
56    303
42    300
41    299
60    296
58    296
47    295
54    293
61    293
59    290
53    289
45    281
57    279
49    278
51    278
52    266
50    265
55    243
32    213
30    202
34    201
33    189
35    186
31    184
22    102
24     96
21     92
26     91
25     89
27     89
29     88
23     82
28     78
Name: count, dtype: int64

In [63]:
#There were no abnormalities or outliers found in the age column.

In [64]:
#Check Tenure for abnormalities
Tenure_counts = df_cleaned['Tenure'].value_counts()
print(Tenure_counts)

Tenure
1     851
10    737
5     733
7     728
6     719
8     703
9     679
3     609
2     452
4     447
14    375
15    360
20    356
19    349
13    348
16    341
18    334
11    329
12    327
17    323
Name: count, dtype: int64

In [65]:
#Tenure had no abnormalities.

In [66]:
#Check Turnover for abnormalities
Turnover_counts = df_cleaned['Turnover'].value_counts()
print(Turnover_counts)

Turnover
No     5456
Yes    4644
Name: count, dtype: int64

In [67]:
#No abnormalities in Turnover.

In [68]:
# I found there was an extra space after "HourlyRate" so i used the code below so it wont happen again.

In [69]:
df_cleaned.columns = df_cleaned.columns.str.strip()

In [70]:
#listin unique entries in HourlyRate
HourlyRate_counts = df_cleaned['HourlyRate'].value_counts()

#display the counts
print("HourlyRate counts:")
print(HourlyRate_counts)

HourlyRate counts:
HourlyRate
$34.28     11
$31.28     10
$33.66     10
$28.83      9
$33.06      9
           ..
$28.37      1
$56.02      1
$89.43      1
$88.05      1
$93.05      1
Name: count, Length: 5244, dtype: int64

In [71]:
#Hourly Rate is good to go.

In [72]:
#Check HoursWeekly for abnormalities
HoursWeekly_counts = df_cleaned['HoursWeekly'].value_counts()
print(HoursWeekly_counts)

HoursWeekly
40    10100
Name: count, dtype: int64

In [73]:
#HoursWeekly is good to go.

In [74]:
#CompensationType for Errors/abnormalities
CompensationType_counts = df_cleaned['CompensationType'].value_counts()
print(CompensationType_counts)

CompensationType
Salary    10100
Name: count, dtype: int64

In [75]:
#No issues found with Compensation Type.

In [76]:
#AnnualSalary for abnormalities
AnnualSalary_counts = df_cleaned['AnnualSalary'].value_counts()
print(AnnualSalary_counts)

AnnualSalary
76294.4     9
64896.0     8
54350.4     7
53414.4     7
67392.0     7
           ..
49254.4     1
156707.2    1
37086.4     1
202571.2    1
333544.0    1
Name: count, Length: 5538, dtype: int64

In [77]:
#No issues with Annual Salary, given a normal company has wide ranges in pay for certain employees.

In [78]:
#Check DrivingCommuterDistance for abnormalities
DrivingCommuterDistance_counts = df_cleaned['DrivingCommuterDistance'].value_counts()
print(DrivingCommuterDistance_counts)

DrivingCommuterDistance
 33     184
 250    177
 28     157
 27     125
 42     113
       ...
-125     19
-275     17
 125     17
 910      4
 950      2
Name: count, Length: 120, dtype: int64

In [79]:
#There are a lot of outliers and commutes that are unfeasible. I would have take out anything +250 miles however there are plenty that do that commute.

In [80]:
#Remove rows where DrivingCommuterDistance is greater than 250 and less than 0
df_cleaned = df_cleaned[(df_cleaned['DrivingCommuterDistance'] <= 250) & (df_cleaned['DrivingCommuterDistance'] >= 0)]

In [81]:
#Reused prior code to see if outliers have been deleted.
DrivingCommuterDistance_counts = df_cleaned['DrivingCommuterDistance'].value_counts()
print(DrivingCommuterDistance_counts)

DrivingCommuterDistance
33     184
250    177
28     157
27     125
42     113
      ...
90      62
98      58
96      57
91      51
125     17
Name: count, Length: 100, dtype: int64

In [82]:
#Listing unique entries in JobRoleArea
JobRoleArea_counts = df_cleaned['JobRoleArea'].value_counts()

# Display the counts
print("JobRoleArea:")
print(JobRoleArea_counts)

JobRoleArea:
JobRoleArea
Research                  1733
Sales                     1718
Marketing                  943
Manufacturing              895
Healthcare                 890
Laboratory                 870
Human Resources            765
Information Technology     736
InformationTechnology       73
HumanResources              43
Information_Technology      36
Human_Resources             27
Name: count, dtype: int64

In [83]:
#Listing unique entries in Gender
Gender_counts = df_cleaned['Gender'].value_counts()

# Display the counts
print(Gender_counts)

Gender
Female                  4964
Male                    3640
Prefer Not to Answer     125
Name: count, dtype: int64

In [84]:
#Gender looks good.

In [85]:
#Listing unique entries in MartialStatus
MaritalStatus_counts = df_cleaned['MaritalStatus'].value_counts()

# Display the counts
print("MaritalStatus:")
print(MaritalStatus_counts)

MaritalStatus:
MaritalStatus
Single      2939
Married     2924
Divorced    2866
Name: count, dtype: int64

In [86]:
#Marital Status looks fine.

In [87]:
#Listing unique entries in NumCompaniesPreviouslyWorked
NumCompaniesPreviouslyWorked_counts = df_cleaned['NumCompaniesPreviouslyWorked'].value_counts()
print("NumCompaniesPreviouslyWorked:")
print(NumCompaniesPreviouslyWorked_counts)

NumCompaniesPreviouslyWorked:
NumCompaniesPreviouslyWorked
1.0    1289
2.0    1263
3.0    1259
6.0     914
4.0     873
5.0     846
7.0     588
8.0     565
9.0     561
Name: count, dtype: int64

In [88]:
#Looks good to go.

In [89]:
#Listing unique entries in AnnualProfessionalDevHrs
AnnualProfessionalDevHrs_counts = df_cleaned['AnnualProfessionalDevHrs'].value_counts()
print("AnnualProfessionalDevHrs:")
print(AnnualProfessionalDevHrs_counts)

AnnualProfessionalDevHrs:
AnnualProfessionalDevHrs
14.0    368
10.0    368
23.0    365
25.0    363
13.0    352
5.0     346
6.0     344
22.0    340
12.0    339
9.0     334
19.0    332
7.0     330
18.0    329
15.0    329
17.0    326
11.0    325
8.0     324
24.0    317
21.0    314
20.0    310
16.0    305
Name: count, dtype: int64

In [90]:
#Listing unique entries in PaycheckMethod
PaycheckMethod_counts = df_cleaned['PaycheckMethod'].value_counts()
print("PaycheckMethod:")
print(PaycheckMethod_counts)

PaycheckMethod:
PaycheckMethod
Mail Check        4248
Mailed Check      2103
DirectDeposit      861
Direct_Deposit     799
Mail_Check         482
Direct Deposit     193
MailedCheck         43
Name: count, dtype: int64

In [91]:
#there is some errors in just putting data into two categories so I will fix that below.

In [92]:
# Normalize the column
df_cleaned['PaycheckMethod'] = df_cleaned['PaycheckMethod'].str.strip().str.lower()

# Map all known variations to two standard categories
df_cleaned['PaycheckMethod'] = df_cleaned['PaycheckMethod'].replace({
    'directdeposit': 'Direct Deposit',
    'direct_deposit': 'Direct Deposit',
    'direct deposit': 'Direct Deposit',

    'mail check': 'Check',
    'mailed check': 'Check',
    'mail_check': 'Check',
    'mailedcheck': 'Check'
})

# Confirm the result
print(df_cleaned['PaycheckMethod'].value_counts())

PaycheckMethod
Check             6876
Direct Deposit    1853
Name: count, dtype: int64

In [93]:
#TextMessageOptIn
TextMessageOptIn_counts = df_cleaned['TextMessageOptIn'].value_counts()
print("TextMessageOptIn:")
print(TextMessageOptIn_counts)

TextMessageOptIn:
TextMessageOptIn
Yes    6285
No      455
Name: count, dtype: int64

In [97]:
#The dataset is finally clean!

# Save the cleaned DataFrame as a CSV file on the desktop
df_cleaned.to_csv(r'C:\Users\Staphon Smith\OneDrive\Desktop\cleaned_employee_data_final.csv', index=False)